    body { margin: 0; background: #050301; overflow: hidden; font-family: Arial, sans-serif; }
    video { display: none; }
    canvas { width: 100%; height: 100%; transform: scaleX(-1); position: absolute; z-index: 1; }

    /*  Modal Styles  */
    .modal {
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background: rgba(0,0,0,0.9);
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 999;
    }

    .modal-content {
      background: #111;
      color: #fff;
      padding: 30px;
      width: 90%;
      max-width: 500px;
      border-radius: 10px;
      text-align: left;
      box-shadow: 0 0 25px rgba(0,255,255,0.2);
    }

    .modal-content h2 {
      margin-top: 0;
      text-align: center;
    }

    .modal-content ul {
      padding-left: 20px;
      line-height: 2.6;
    }

  
    .modal li{
      font-size: 17px;
    }










/* From Uiverse.io by satyamchaudharydev */ 
/* === removing default button style ===*/
.button {
  margin: 0;
  height: auto;
  background: transparent;
  padding: 0;
  border: none;
  cursor: pointer;
}

/* button styling */
.button {
  --border-right: 6px;
  --text-stroke-color: rgba(255,255,255,0.6);
  --animation-color: #37FF8B;
  --fs-size: 2em;
  letter-spacing: 3px;
  text-decoration: none;
  font-size: var(--fs-size);
  font-family: "Arial";
  position: relative;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px var(--text-stroke-color);
  margin: 0 auto;
  display: flex;
}
/* this is the text, when you hover on button */
.hover-text {
  position: absolute;
  box-sizing: border-box;
  content: attr(data-text);
  color: var(--animation-color);
  width: 0%;
  inset: 0;
  border-right: var(--border-right) solid var(--animation-color);
  overflow: hidden;
  transition: 0.5s;
  -webkit-text-stroke: 1px var(--animation-color);
}
/* hover */
.button:hover .hover-text {
  width: 100%;
  filter: drop-shadow(0 0 23px var(--animation-color))
}

/* Ladleyyy!! */
